<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sofia.demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <uses-library android:name="com.google.android.maps"/>
        
        <activity
            android:name=".DemoLauncher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HelloWorldDemo"/>
        <activity android:name=".MultiTouchDotsDemo"/>
        <activity android:name=".GestureDemo"/>
        <activity android:name=".AnimationTimingsDemo"/>
        <activity android:name=".ShapeLayoutDemo"/>
        <activity android:name=".ConnectFour"/>
        <activity android:name=".MarkerDemo"/>
        <activity android:name=".BackAndForthScreenOne"/>
        <activity android:name=".BackAndForthScreenTwo"/>
        <activity android:name=".CompositeShapeDemo"/>
        <activity android:name=".JoystickDemo"/>
        <activity android:name="sofia.demos.ListDemo"/>
        <activity android:name="sofia.demos.pong.PongScreen"/>
        <activity android:name="sofia.demos.breakout.BreakoutScreen"/>
        <activity android:name="sofia.demos.avians.IrritatedAviansScreen"/>
        <activity android:name="sofia.data.InspectorScreen"/>
    </application>

</manifest>